img{
    border-radius: 100px;
}
h1{
    font-size: 500%;
    color: rgb(75, 68, 180);
}

.para1
{
font-size: 400%;
}
h2{
    font-size: 400%;
}
ol{
    
    font-size: 200%;
}
.first1{
    font-size: 400%;
}
ul{
    font-size: 200%;
}
.sir{
    font-size: 120%;
    color: red;
}
.if{
    font-size: 200%;
}
.paytm1{
    font-size: 200%;
}
